html {
    font-family: "Roboto", sans-serif;
}

.banner {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
}

.btn {
    color: black;
    background-color: white;
    stroke: black;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    margin-left: 0px;
}

.btn-alert {
    color: white;
    background-color: red;
    stroke: black;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    margin-left: 0px;
}

.interaction {
    width: 50%;
}

.explanation {
    text-align: center;
    width: 50%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn:hover {
    background-color: lightgrey;
}

.btn:active {
    transform: translateY(1px);
    background-color: gray;
}

.art {
    border-radius: 8px;
    border: 1px solid black;
}

.mainHeader {
    width: 30%;
}

.description {
    width: 50%;
    font-style: italic;
    font-weight: lighter;
    color: lightgray;
}
