html {
    font-family: "Roboto", sans-serif;
}

.btn {
    color: black;
    background-color: white;
    stroke: black;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    margin-left: 0px;
}

.btn:hover {
    background-color: lightgrey;
}

.btn:active {
    transform: translateY(1px);
    background-color: gray;
}

.art {
    border-radius: 8px;
    border: 1px solid black;
}

.description {
    font-style: italic;
    font-weight: lighter;
    color: darkgray;
}
